{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "lf",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "importOrderSortSpecifiers": true,
    "importOrderSeparation": true,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
